<!DOCTYPE html>
<html>
  <body>
    <h1>Articlers</h1>
    <% @article.each do |article| %>
      <strong><%= article.name %></strong><br />
      <%= article.content %>
      <br /><br />
    <% end %>
  </body>
</html> 